@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Open+Sans&display=swap");

$heading-font: "DM Serif Display", serif;
$body-font: "Open Sans", sans-serif;
$brand: #ff5252;
$dark: #333648;
